* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: #3d464d;
  font: 100%/1.5 "Roboto", Verdana, Sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

/* nav {
  position: relative;
  width: 100%;
  min-height: 3.3rem;
}

nav ul {
  list-style: none;
}
nav li {
  padding: 1vmin;
} */

/* #title {
  font-size: 2rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}
#title a {
  text-decoration: none;
  color: var(--grey800);
  font-weight: bold;
} */

/* .icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.icon img {
  height: 2.8rem;
  margin: 1.2vmin;
  float: right;
  padding: 0.5rem;
  border-radius: 100%;
}
.icon a {
  transition: 0.2s;
}
.icon a.active img {
  background-color: var(--grey300);
} */