---
title: About
permalink: /about/
---
<div class="container">

    <div style="clear: both">
	       <h3>Eboard Members</h3>
    </br>
    </div>

    {% assign eboard = site.contributors | where: "type","eboard" | sort:'meta_order' %}
    {% for person in eboard %}
        {% include contributor.html contributor = person %}
    {% endfor %}

    <div style="clear: both">
		<h3>Founding Members</h3>
    </br>
    </div>

    {% assign founders = site.contributors | where: "type","founder" | sort:'meta_order' %}
    {% for person in founders %}
        {% include contributor.html contributor = person %}
    {% endfor %}

    <div style="clear:both" > 
		<h3>Faculty Mentor</h3>
    </br>
    </div>

    {% assign mentors = site.contributors | where:"type","mentor" %}
    {% for person in mentors %}
        {% include contributor.html contributor = person %}
    {% endfor %}
</div>
