#mainNavigation ul{
	list-style-type:none;
	text-align:center;
}

#mainNavigation ul li{
	display:inline;
}

#mainNavigation ul li a{
	font-family: 'Arimo', sans-serif;
	text-decoration:none;
	color:black;
	padding:15px;
	margin:20px;
	border:1px solid white;
	background-color:white;
}

#mainNavigation ul li a:active{
	background-color:#57068c;
	color:white;
}

#mainNavigation ul li a:hover{
	background-color:#57068c;
	color:white;

}
.carousel .item{
 height: 700px;
 background-color: white;
}

.carousel-inner > .item > img{
	position: absolute;
	top: 0;
	left:0;
	min-width: 100%
	height:100%
	overflow: hidden;
	object-fit:cover;

}


.carousel-caption p{
margin-bottom: 20px;
font-size:21px;
line-height: 1.4;

}

.glyphicon{
margin-right: 10px;
color: yellow;

}
.h1{
color: purple;
}
.btn-primary {
    color: #fff;
    background-color: #57068c;
    border-color: #57068c;
}
.glyphicon {
    margin-right: 10px;
    color: #57068c;
}

.jumbotron{
color: #57068c;
