---
---
<div class="row justify-content-center">
<div class="col-xs-12 col-sm-10 col-md-8">

    <div class="gutter-padding">
    <h2>E-Board</h2>
    </br>
    </div>

    <div class="row gutter-padding">
    {% assign eboard = site.contributors | where: "type","eboard" | sort:'meta_order' %}
    {% for person in eboard %}
        {% include contributor.html contributor = person %}
    {% endfor %}
    </div>

    <div class="gutter-padding">
    <h2>Founding Members</h2>
    </br>
    </div>

    <div class="row gutter-padding">
    {% assign founders = site.contributors | where: "type","founder" | sort:'meta_order' %}
    {% for person in founders %}
        {% include contributor.html contributor = person %}
    {% endfor %}
    </div>

    <div class="gutter-padding">
    <h2>Faculty Mentor</h2>
    </br>
    </div>

    <div class="row gutter-padding">
    {% assign mentors = site.contributors | where:"type","mentor" %}
    {% for person in mentors %}
        {% include contributor.html contributor = person %}
    {% endfor %}
    </div>

</div>
</div>


