<div class="row justify-content-center">
<div class="col-xs-12 col-sm-10 col-md-8">

  <div class="row align-content-center main-page-element">

    <div class="col-12 col-sm-4">
      <div class="gutter-padding">
      <h3>
        Contact Us
      </h3>
      </div>
    </div>

    <div class="col-12 col-sm-8">
      <div class="gutter-padding" id="contact-info">
      <p>
        Email: <a href="mailto:bugscommunicationsteam@gmail.com">bugscommunicationsteam@gmail.com</a>
      </p>
      <p>
        Facebook: <a href="https://facebook.com">BUGS NYU</a>
      </p>
      </div>

    </div>
  </div>

</div>
</div>
