<footer style="background-color:white;
    text-align: center;
    color: black;
    width:100%;
    position:fixed;
    height:40px%;
    bottom:0;">
  <br/>
  <div style="text-align: center;">
    <a href="https://www.facebook.com/bugsnyu/"><img src ="/assets/img/logofb.jpg" width = 3%; height = 6%;/></a>

    </p>
  </div>
</footer>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/js/bootstrap.min.js"></script>
</html>
