<!-- Set the value for today to today's date -->
{% assign today = "now" | date: "%Y-%m-%d" | date: "%s" %}

{% for event in site.events %}
	<!-- variable date holds date of current event in seconds -->
	{% assign date = event.date | date: "%s" %}

	<!-- If the event's in the past, ignore it -->
	{% if date < today %}{% continue %}{% endif %}

	<!-- The code inside this 'unless' block only executes if the expression is false -->
	{% unless date > final_date %}<!-- This evaluates to false if final_date isn't assigned yet -->
		<!-- Assigns final_event and final_date to keep track of the
			date of the most imminent future event -->
		{% assign final_event = event %}
		{% assign final_date = date %}
	{% endunless %}
{% endfor %}

<div id="important">
	<p>
		{% if final_event %}
			{% include important-format.html event = final_event %}
		{% else %}
			No events upcoming, keep being awesome!
		{% endif %}
	</p>
</div>
