<div class="dropdown">
  <button class="dropbtn">
    <a href="/">
      <img id="logo" src="{{ site.baseurl }}/assets/img/logo.jpg">
      <p id="brand">BUGS</p>
    </a>
   </button>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/projects">Projects</a>
      <a href="{{ site.baseurl }}/news">News</a>
      <a href="{{ site.baseurl }}/calendar">Calendar</a>
      <a href="{{ site.baseurl }}/connect">Connect</a>
      <a href="https://github.com/BUGS-NYU/">Github</a>
      <br />
      <a href="https://opensource.mozilla.community/"> Mozilla Affiliation </a>
    </div>
</div>
