<nav class="navbar navbar-expand-sm navbar-{{ include.color }} justify-content-between">
  <a class="navbar-brand" href="{{ site.baseurl }}/">BUGS</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbar-toggler-target" aria-controls="navbar-toggler-target"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-toggler-target">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/team">Our Team</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.baseurl }}/events">Events</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ site.org_url }}/">Github</a>
      </li>
    </ul>
  </div>
</nav>
