<div class="dropdown">
  <button class="dropbtn">
    <a href="{{ site.baseurl }}/">
      <img id="logo" src="{{ site.baseurl }}/assets/img/logo.jpg">
      <p id="brand">BUGS</p>
    </a>
   </button>
    <div class="dropdown-content">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/projects">Projects</a>
      <a href="{{ site.baseurl }}/news">News</a>
      <a href="{{ site.baseurl }}/calendar">Calendar</a>
      <a href="https://github.com/BUGS-NYU/" target="_blank">Github</a>
      <br />
      <a href={{ site.baseurl }}/about>About</a>
      <a href="https://opensource.mozilla.community/" target="_blank"> Mozilla Affiliation </a>
      <a href="{{ site.baseurl }}/connect">Connect</a>
    </div>
</div>
