<div id="main-nav-wrapper">
  <button id="main-nav-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img id="main-nav-logo" src="{{ site.baseurl }}/assets/img/bugs_logo_animation.gif">
    <p id="main-nav-text">Bugs</p>
     </button>
  <div class="dropdown-menu" id="main-nav-content" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item"
      href="{{ site.baseurl }}/">
      Home</a>
    <a class="dropdown-item"
      href="{{ site.baseurl }}/projects">
      Projects</a>
    <a class="dropdown-item"
      href="{{ site.baseurl }}/news">
      News</a>
    <a class="dropdown-item"
      href="{{ site.baseurl }}/calendar">
      Calendar</a>
    <a class="dropdown-item"
      href="https://github.com/BUGS-NYU/" target="_blank">
      Github</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item"
      href="{{ site.baseurl }}/about">
      About</a>
    <a class="dropdown-item"
      href="https://opensource.mozilla.community/" target="_blank">
      Mozilla Affiliation</a>
    <a class="dropdown-item"
      href="{{ site.baseurl }}/connect">
      Connect</a>
  </div>
</div>
