html,body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  color: $nyu-main-theme-black;
  background: $nyu-main-theme-white;
}

body {
  min-height: 100%;
  font-weight: 400;
}

.main-page-element {
  min-height: 20vh;
}

.gutter-padding {
  padding: .5rem 1rem;
}

.contributor {
  > .contributor-title {
  }

  > .contributor-description {
    font-size: 0.8rem;
  }
}

#bugs-logo-img {
  height: px_to_rem(100);
}

#footer {
  bottom: 0;
  padding-bottom: 2rem;
}
