// Everything here is based on https://www.nyu.edu/employees/resources-and-services/media-and-communications/styleguide/website/graphic-visual-design.html

$nyu-purple: #57068c;
$nyu-main-theme-violet: #8900e1;
$nyu-main-theme-main-purple: $nyu-purple;
$nyu-main-theme-dark-purple-1: #330662;
$nyu-main-theme-dark-purple-2: #220337;
$nyu-main-theme-black: #000000;
$nyu-main-theme-grey-1: #d6d6d6;
$nyu-main-theme-grey-2: #b8b8b8;
$nyu-main-theme-grey-3: #6d6d6d;
$nyu-main-theme-white: #f2f2f2;

$nyu-alert-red: #cb0200;
$nyu-alert-orange: #e86c00;
$nyu-alert-green: #489141;

$nyu-tertiary-blue: #28619e;
$nyu-tertiary-azure: #edbbdb;
$nyu-tertiary-turquoise: #007c70;
$nyu-tertiary-magenta: #d71e5e;
$nyu-tertiary-orange: #e86c00;
$nyu-tertiary-yellow: #ffc107;

.invert-color { color: $nyu-main-theme-white; }
.invert-bg { background: $nyu-main-theme-black; }
.no-invert-color { color: $nyu-main-theme-black; }
.no-invert-bg { background: $nyu-main-theme-white; }

.bg-violet { background: $nyu-main-theme-violet; }
.bg-purple { background: $nyu-main-theme-main-purple; }
.bg-dark-purple-1 { background: $nyu-main-theme-dark-purple-1; }
.bg-dark-purple-2 { background: $nyu-main-theme-dark-purple-2; }
.bg-black { background: $nyu-main-theme-black; }
.bg-grey-1 { background: $nyu-main-theme-grey-1; }
.bg-grey-2 { background: $nyu-main-theme-grey-2; }
.bg-grey-3 { background: $nyu-main-theme-grey-3; }
.bg-white { background: $nyu-main-theme-white; }

.bg-red { background: $nyu-alert-red; }
.bg-orange { background: $nyu-alert-orange; }
.bg-green { background: $nyu-alert-green; }

.bg-blue { background: $nyu-tertiary-blue; }
.bg-azure { background: $nyu-tertiary-azure; }
.bg-turquoise { background: $nyu-tertiary-turquoise; }
.bg-magenta { background: $nyu-tertiary-magenta; }
.bg-orange { background: $nyu-tertiary-orange; }
.bg-yellow { background: $nyu-tertiary-yellow; }
