/*
      <div class="bugs-logo">
        <span class="bugs-logo-antennae">\ /</span>
        <br />
        <span class="bugs-logo-left-wing">&lt;</span>
        <span class="bugs-logo-left-body">{</span>
        <span class="bugs-logo-middle-body">(((()</span>
        <span class="bugs-logo-right-body">}</span>
        <span class="bugs-logo-right-wing">&gt;</span>
      </div>
*/

#logo-test {
  font-size: 3rem;
}

.bugs-logo {

  width: 6em;
  height: 6em;
  color: $nyu-purple;
  border: 1px solid black;
  // transform: translate(10rem) rotate(-45deg);

  > div {
    width: 0;
    height: 0;
    float: left;
    // transform: rotate(90deg);
  }

  > .bugs-logo-left-antennae,> .bugs-logo-right-antennae,
  > .bugs-logo-middle-body {
    font-size: px_to_em(30);
  }

  > .bugs-logo-middle-body {
    transform: translate(2.5em, 1em) rotate(90deg);
  }

  > .bugs-logo-left-antennae {
    transform: translate(1em, -.125em);
  }

  > .bugs-logo-right-antennae {
    transform: translate(1.95em, -.125em);
  }

  > .bugs-logo-right-body,> .bugs-logo-left-body
  {
    font-size: px_to_em(40);
  }

  > .bugs-logo-left-body {
    transform: translate(.5625em, .500em);
  }

  > .bugs-logo-right-body {
    transform: translate(1.58em, .500em);
  }

  > .bugs-logo-right-wing,> .bugs-logo-left-wing {
    font-size: px_to_em(22);
  }

  > .bugs-logo-left-wing {
    transform: translate(.625em, 1.125em);
  }

  > .bugs-logo-right-wing {
    transform: translate(3.25em, 1.125em);
  }
}
