// Everything here is based on https://www.nyu.edu/employees/resources-and-services/media-and-communications/styleguide/website/graphic-visual-design.html

// Eventually should fix these to Gotham Bold and Gotham
$header-font: Arial;
$text-font: Arial;

// These follow NYU's system, assuming root font size is 10px
h1 { font-size: px_to_rem(48); } // 48
h2 { font-size: px_to_rem(40); } // 40
h3 { font-size: px_to_rem(30); } // 30
h4 { font-size: px_to_rem(22); } // 22
h5 { font-size: px_to_rem(18); } // 18

html,body {
  height: 100%;
  max-width: 100vw;
}

body {
  min-height: 100%;
  font-weight: 400;
}

.main-page-element {
  min-height: 20vh;
}

.gutter-padding {
  padding: .5rem 1rem;
}

#bugs-logo-img {
  height: px_to_rem(100);
}

