@function px_to_rem($pixels, $reference: 16) {
  @return ($pixels / $reference) + rem;
}

@function px_to_em($pixels, $reference: 16) {
  @return ($pixels / $reference) + em;
}

//Transform mixin to for compatibility
@mixin transform($transforms) {//mixin takes a transformation as an arg
    -moz-transform: $transforms;// and makes it a bunch of transformations that
    -o-transform: $transforms;// work for different browsers
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

