// Everything here is based on https://www.nyu.edu/employees/resources-and-services/media-and-communications/styleguide/website/graphic-visual-design.html

$nyu-purple: #57068c;
$nyu-main-theme-violet: #8900e1;
$nyu-main-theme-main-purple: $nyu-purple;
$nyu-main-theme-dark-purple-1: #330662;
$nyu-main-theme-dark-purple-2: #220337;
$nyu-main-theme-black: #000000;
$nyu-main-theme-grey-1: #d6d6d6;
$nyu-main-theme-grey-2: #b8b8b8;
$nyu-main-theme-grey-3: #6d6d6d;
$nyu-main-theme-white: #f2f2f2;

$nyu-alert-red: #cb0200;
$nyu-alert-orange: #e86c00;
$nyu-alert-green: #489141;

$nyu-tertiary-blue: #28619e;
$nyu-tertiary-azure: #edbbdb;
$nyu-tertiary-turquoise: #007c70;
$nyu-tertiary-magenta: #d71e5e;
$nyu-tertiary-orange: #e86c00;
$nyu-tertiary-yellow: #ffc107;

// Eventually should fix these to Gotham Bold and Gotham
$header-font: Arial;
$text-font: Arial;

@function px_to_rem($pixels, $reference: 16) {
  @return ($pixels / $reference) + rem;
}

// These follow NYU's system, assuming root font size is 10px
h1 { font-size: px_to_rem(48); } // 48
h2 { font-size: px_to_rem(40); } // 40
h3 { font-size: px_to_rem(30); } // 30
h4 { font-size: px_to_rem(22); } // 22
h5 { font-size: px_to_rem(18); } // 18

html,body {
  height: 100%;
}

body {
  min-height: 100%;
  font-weight: 400;
  color: $nyu-main-theme-black;
  background: $nyu-main-theme-white;
}

body.inverted-color {
  color: $nyu-main-theme-white;
  background: $nyu-main-theme-black;
}


