// Everything here is based on https://www.nyu.edu/employees/resources-and-services/media-and-communications/styleguide/website/graphic-visual-design.html

$nyu-purple: #57068c;
$nyu-main-theme-violet: #8900e1;
$nyu-main-theme-main-purple: $nyu-purple;
$nyu-main-theme-dark-purple-1: #330662;
$nyu-main-theme-dark-purple-2: #220337;
$nyu-main-theme-black: #000000;
$nyu-main-theme-grey-1: #d6d6d6;
$nyu-main-theme-grey-2: #b8b8b8;
$nyu-main-theme-grey-3: #6d6d6d;
$nyu-main-theme-white: #f2f2f2;

$nyu-alert-red: #cb0200;
$nyu-alert-orange: #e86c00;
$nyu-alert-green: #489141;

$nyu-tertiary-blue: #28619e;
$nyu-tertiary-azure: #edbbdb;
$nyu-tertiary-turquoise: #007c70;
$nyu-tertiary-magenta: #d71e5e;
$nyu-tertiary-orange: #e86c00;
$nyu-tertiary-yellow: #ffc107;

.invert-color { color: $nyu-main-theme-white; }
.invert-bg { background: $nyu-main-theme-black; }
.no-invert-color { color: $nyu-main-theme-black; }
.no-invert-bg { background: $nyu-main-theme-white; }
.bg-magenta { background: $nyu-tertiary-magenta; }

// Eventually should fix these to Gotham Bold and Gotham
$header-font: Arial;
$text-font: Arial;

@function px_to_rem($pixels, $reference: 16) {
  @return ($pixels / $reference) + rem;
}

// These follow NYU's system, assuming root font size is 10px
h1 { font-size: px_to_rem(48); } // 48
h2 { font-size: px_to_rem(40); } // 40
h3 { font-size: px_to_rem(30); } // 30
h4 { font-size: px_to_rem(22); } // 22
h5 { font-size: px_to_rem(18); } // 18

html,body {
  height: 100%;
  max-width: 100vw;
}

body {
  min-height: 100%;
  font-weight: 400;
}

.main-page-element {
  min-height: 20vh;
}

.gutter-padding {
  padding: .5rem 1rem;
}

#bugs-logo-img {
  height: px_to_rem(100);
}

/*
      <div class="bugs-logo">
        <span class="bugs-logo-antennae">\ /</span>
        <br />
        <span class="bugs-logo-left-wing">&lt;</span>
        <span class="bugs-logo-left-body">{</span>
        <span class="bugs-logo-middle-body">(((()</span>
        <span class="bugs-logo-right-body">}</span>
        <span class="bugs-logo-right-wing">&gt;</span>
      </div>
*/

.bugs-logo {

  font-size: px_to_rem(40);
  color: $nyu-purple;

  > span {
    width: 0;
    height: 0;
  }

  > .bugs-logo-antennae {
    transform: rotate(90deg);
  }

  > .bugs-logo-middle-body {
    transform: rotate(90deg);
  }
}



