// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $button-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover {
  color: $button-hover-color;
  border-color: lighten($button-hover-color, 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    color: $button-hover-color;
    border-color: lighten($button-hover-color, 33.3%);
    outline: 0;
  }
}

.button:focus,
button:focus {
  color: $button-hover-color;
  border-color: lighten($button-hover-color, 33.3%);
  outline: 0;
}

.button.button-primary:hover,
button.button-primary:hover {
  color: $button-buttonprimary-color;
  background-color: $link-color;
  border-color: $link-color;
}

.button.button-primary:focus,
button.button-primary:focus {
  color: $button-buttonprimary-color;
  background-color: $link-color;
  border-color: $link-color;
}
