/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-left: 20px;
  display: none;
  position: absolute;
  background-color: $dropdown-content-background-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px $dropdown-content-shadow-color;
  z-index: 100;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 30px;
    text-decoration: none;
    display: block;

    &:hover {/* Change color of dropdown links on hover */
      background-color: $dropdown-content-a-hover-background-color
    }
}

.dropdown:hover {

  /* Show the dropdown menu on hover */
  .dropdown-content {
      display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropbtn {
    width: 0 auto;
  }

}


#logo {
  display: inline;
  width: 40px;
  length: 40px;
}

#brand {
  display: inline;
  font-family: $large-header-font;
  color: white;
  font-size: 30px;
}

.pagination {
  color: white;
  padding: 20px;
  text-align: center;
}
