#repos {
  font-family: 'Press Start 2P', sans-serif;
  text-align: center;
}

#repos a {
  padding: 10px;
}

.featurette {
  padding-bottom: 80px;
}

.featurette-image {
  width: 200px;
  height: 200px;
  background-color: purple;
}
