@mixin --img-circle-specific($img-size) {
	@include square($img-size); // Reshape the image to a square
	// Cut the image into a circle
	> img.profile-img { clip-path: circle($img-size/2 at center $img-size/2); }
}

@mixin --img-circle-static {
	@include dynamic-extend('img-circle') {//img-circle is made with a div surrounding an img
		overflow: hidden;
		> img {
			@include square(100%,'min');
			max-height: 125%;
			@include transform(translateX(-50%)); // Move the image 50% of its width to the right
			position: relative;//Position it
			left: 50%;//50% of the parent div's width from the left
		}
	}
}

@mixin img-circle($img-size) {// img-circle
	@include --img-circle-specific($img-size);
	@include --img-circle-static;
}

@mixin --profile-specific($img-size, $margin-size, $bottom: false) {
	margin: $margin-size;//space in between contributors
	.profile-img-container {
		@if $bottom { margin-bottom: $margin-size; } // Text is below image
		@else { margin-right: $margin-size; float: left; } //Else Text is to right of image, and image should be to left
	}
	.profile-text {
		padding: $margin-size;
		// Headers here are really just bolded text
		.profile-title { margin-bottom: $margin-size/2; }
	}
}

@mixin profile($img-size, $margin-size, $bottom: true) {
	@include --profile-specific($img-size, $margin-size, $bottom);
	@include dynamic-extend('profile') { //General features of a profile
		float: left;
		.profile-img-container { @include img-circle($img-size); }
		.profile-text .profile-title > * { // Headers here are really just bolded text
			line-height: 1; margin-top: 0 !important; margin-bottom: 0 !important;
		}
	}
}

.contributor {
	@include profile($img-size: 150px, $margin-size: 5px);

	@media only screen and (min-width: 1200px) { // When the screen is desktop and big
		@include --profile-specific($img-size: 200px, $margin-size: 20px);
		.profile-img-container
		{ @include --img-circle-specific($img-size: 200px); }
	}
}
