.contributor {
	margin: 20px;
	width: 100%;
	height: 200px;
	// background: $light-grey;
	.profile-img {//The div that holds the image

		width: 200px;//Sizing all of them to 200px
		height: 200px;

		float: left;//The profile image should be on the left side
		margin-right: 20px;// There should be some space between the image and text
		overflow: hidden;//The image shouldn't go outside the 200px region

		img.img-circle {//The image
			position: relative;//Positioning
			left: 50%;
			top: 100px;

			-webkit-transform:translate(-50%, -100px);// Transform IDK what this really does past that it moves the object after it's positioned
			-moz-transform:translate(-50%, -100px);
			-ms-transform:translate(-50%, -100px);
			-o-transform:translate(-50%, -100px);
			transform:translate(-50%, -100px);

			clip-path: circle(100px at center 100px);// Cut the image into a circle

			// From W3 Schools:
			display: block;// 	Displays an element as a block element (like <p>). It starts on a new line, and takes up the whole width

			min-height: 200px;// We want the images to be kinda standard sizes
			min-width: 200px;
			max-height: 250px;

			width: auto !important;// Images should be as big as possible within constraints
			height: auto !important;//!important overrides existing bootstrap styling
		}


	}

	.profile-text {//Div that holds the profile text

		height: 100%; // Make the div take up the full vertical space
		padding: 20px; // Make sure the text stays in a 20px inset region

		.content { // Text-specific stuff
			h4,h5 {// Headers here are really just bolded text
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		}
	}

}
