<html>
  {% include head.html %}

  {% if page.invert %}
  <body class="invert-text-color">
  {% else %}
  <body class="normal-text-color">
  {% endif %}

    <nav class="nav navbar-expand-sm justify-content-between" id="header">
      <a class="navbar-brand" href="{{ site.baseurl }}/">BUGS</a>

      <div class="">
        <a href="{{ site.baseurl }}/">
          Home
        </a>
        <a href="{{ site.baseurl }}/team">
          Our Team
        </a>
        <a href="{{ site.baseurl }}/events">
          Events
        </a>
        <a href="{{ site.org_url }}">
          Github
        </a>
      </div>
    </nav>

    {{ content }}

  </body>

</html>
