// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html { // Prevent overscrolling? https://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page
  height: 100%;
  font-size: 62.5%;
}

@mixin fixed-background($background, $position: center center) {
  background: $background;
  background-position: $position;
  background-attachment: fixed;
  background-size: cover;
}

body {
  min-height: 100%;
  font-size: 1.6rem; // currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  @include fixed-background(url('/assets/img/morebugs-purple.png') no-repeat);
}

.content-wrapper { // Wraps around content
  background-color: $default-wrapper;
}

.page-wrapper {
  min-height: 100vh; // Sets to 100% of the viewport;
  // Source: https://stackoverflow.com/questions/47333544/css-min-height-not-working-in-firefox
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

// hr {
//   margin-top: 3rem;
//   margin-bottom: 3.5rem;
//   border-width: 0;
//   border-top: 1px solid $horizontal-row-border-color;
// }
