// Theme, both colors and fonts. Everything should be human readable in this doc,
// i.e. no hex codes

$secondary-color: $gray-33lightness;
$border-color: $gray-73lightness;
$link-color: $blue-49lightness;
$font-color: $gray-13lightness;
$body-background-color: $purple-52lightness;

$button-color: $secondary-color;
$button-hover-color: $gray-20lightness;
$button-buttonprimary-color: white;

$code-background-color: $gray-88lightness;

$dropdown-content-background-color: $gray-95lightness;
$dropdown-content-shadow-color: $black-20opacity;
$dropdown-content-a-hover-background-color: $gray-88lightness;

$horizontal-row-border-color: $gray-88lightness;

$default-wrapper: $gray-83lightness;

$table-border-color: $gray-88lightness;

$important-text-color: $gray-88lightness;


// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$large-header-font: 'Press Start 2P', sans-serif;
